<h1 class="page-header">Cardapio do dia - <small>Almoço</small></h1>

        

<div class="col-md-12 col-sm-12">
	
	<div class="col-md-6 col-sm-12 col-xs-12" ng-repeat="alimento in alimentos | filter:indisponivel">
		<!-- Pricing list Item -->
		<div class="pricing-item">
			<!-- Image -->
			<a href="#"><img class="img-responsive img-thumbnail" src="app/photos/{{alimento.foto}}" alt=""></a>
			<!-- Pricing item details -->
			<div class="pricing-item-details">
				<!-- Heading -->
				<h3>{{alimento.nome}}</h3>
				<!-- Paragraph -->
				<p>{{alimento.descricao}}</p>
				<div class="clearfix"></div>
			</div>
			<!-- Tag -->
			<span class="hot-tag br-red">${{alimento.valor}}</span>
			<div class="clearfix"></div>
		</div>
	</div>

</div>